test_erl_node_pingpong.log-py 
*.beam
*.pyc
autom4te.cache
config.cache
config.status
configure
Makefile
!examples/Makefile
__init__.py
*~
setup.py
PKG-INFO
config.log
py_interface-*.tar.gz
py_interface-*.tgz
examples/test_erl_node_pingpong.log-py
examples/test_erl_node_pingpong_qc.log-py
/build
/test/test_erl_node_pingpong.log-py
/test/test_erl_node_pingpong_qc.log-py
current_counterexample.*
erl_crash.dump
